body {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* Ejercicio de Caja */
.caja {
    /* Son propiedades especiales en este caso no se aplicaría al cuadro si no al texto hijo que es lo que indica que es    */
    font-size: 20px;
    color: red;

    outline: 1px solid red;
    height: 100px;
    width: 100px;
    padding: 50px;
    border: 5px solid orange;
    margin: 50px;
}

/* Ejercicio de Selectores*/
/* Estructura fuerte que indica "cuál es la ruta hasta la ultima etiqueta" */
header > nav > a {
    font-size: 50px;
}
/* cuando le ponemos un espacio, indicamos que a esta dentro de aside pero es más general que el anterior  */
aside a {
    color: green;
}

/* compartir propiedades CSS */

h2, .texto-centrado {
    text-align: center;
}

h1 {
color: red;
}   
.texto-grande {
    font-size: 60px;
    color: blue;
}

#texto-pequeno {
    font-size: 10px;
    color: yellow;

}

/* Estilizar textos */

.alineación {
/* alineación a la izquierda*/
/* text-align: left; */

/* Alineación al centro */
/* text-align: center; */

/* Alineación a la derecha */
/* text-align: right; */

/* Alineación justificada */
    text-align: justify;   

}


.tamanos { 
    /* tamaño por defecto */
    /* font-size: 16px */
    font-size: 40px;
}

.decoracion {
    /* subrayado */
    /* text-decoration: underline; */
/* tezto tachado */
    text-decoration: line-through;
   
}


/* al poner unset deshabilita por ejmplo el subrayado en este caso */
.quitar-subrayado { 
    text-decoration: unset;
}

.tranformacion {
    /* primera letra de cada palabra en mayuscula */
    /* text-transform: capitalize; */

    /* tranformar todo el texto en mayusculas */
    /* text-transform: uppercase; */

    /* Tranformar todo en minusculas */
    text-transform: lowercase;
}

.espaciado-de-textos {
    /* Para modificar el espacio entre lineas de texto (interlineado) */
    line-height: 40px;
    /* Modifica la distancia entre letras */
    letter-spacing: 3px;
    /* Espaciado entre cada palabra */
    word-spacing: 10px;
}
.grosor-letra {
    /* Grosor de la fuente se puede indicar de 0-900 fr 100 en 100 o se puede en palabras como Bolder, lighter o bold */
    font-weight: lighter;
}

.posicion-caja-1, .posicion-caja-2, .posicion-caja-3, .posicion-caja-4 {
    height: 100px;
    width: 100px;
    border: 3px solid blue;
    margin: 20px;
}

.caja-padre {
    position: relative;
    border: 2px red solid;
}

.posicion-caja-1 {
    /* El motivimiento va a ser relativo a su posición original */
    position: relative;
    /* left: 50px;
    bottom: 50px; */
}

.posicion-caja-2 {
    /* El elemento pierde su posición */
    /* Y la podremos mover en relación al elemento padre "rj: caja-padre */
    position: absolute;
    border-color: blueviolet;
    top: 0;
    right: 0;

}   

.posicion-caja-3 {
    /* fija la posición de la caja en la pantalla, manteniendose ciempre visible en el viewport */
    /* position: fixed;
    bottom: 0;
    right: 0; */
}

.posicion-caja-4 {
 /*    position: sticky;
    top: 0; */
}

.perro-imagen {
    width: 100px;
}


.cuadricula {
    outline: 1px solid blue;
    /* hace que queden una bajo otra las imagenes "una sola columna */
    display: grid;
    /* Permite poner el nro de columnas y el tamaño de cada una */
    /* El tamaño podría ponerse en pixeles ej */
    /* grid-template-columns: 200 200 200; */
    
    /* El tamaño podría ponerse en fraccion (fr) */
    grid-template-columns: 1fr 1fr 1fr;
/* para elegir el tamaño de las filas */
    grid-template-rows: 200px 200px 200px 200px;
    /* Hace que los elementos queden centrados dentro de la columna */ /* podemos elegir entre center (centrado), flex-end (alineado a la derecha al final de la columna), flex-stard(alienado al lado inicial bien sea a la izquierda o arriba si es align) */
    justify-items: flex-end;
    align-items: flex-start;

}

.tamano {
    /* width: 400px; */
}

.uno {
    /* Hace que la imagen cubra el espacio que tiene */
    object-fit: cover;
    /* al poner 1/2 le estamos indicando que es la primera columna "de la linea 1 a la linea 2" y row 1/4 hace referencia a la linea 1 a la 4 pero de las filas */ 
    grid-column: 1/3;
    grid-row: 1/4;
    height: 100%;
    /* apodemos alinear también solo a nivel de un elemento */
    justify-self: flex-start;
    align-self: center;
}